<article
  class="h-full bg-white dark:bg-slate-900 rounded-xl border border-gray-200 dark:border-gray-700 overflow-hidden shadow-sm hover:shadow-md transition-all duration-200"
>
  <div class="flex flex-col sm:flex-row">
    <figure
      class="sm:w-40 h-58 xl:h-48 shrink-0 cursor-pointer overflow-hidden"
      (click)="viewPet()"
    >
      <img
        [src]="pet.images?.[0]?.url || '/assets/images/pets/placeholder-dog.webp'"
        [alt]="pet.name"
        class="w-full h-full object-cover hover:scale-105 transition-transform duration-300"
      />
    </figure>

    <div class="flex flex-col flex-1 p-5 gap-3 min-h-45">
      <div class="flex items-start justify-between gap-3">
        <div class="min-w-0">
          <h3
            class="font-semibold text-lg text-gray-800 dark:text-white truncate cursor-pointer hover:text-pink-600 dark:hover:text-pink-400 transition-colors"
            (click)="viewPet()"
          >
            {{ pet.name }}
          </h3>

          <p class="text-xs text-gray-400 dark:text-gray-500 capitalize mt-0.5">
            {{ pet.type === 'perro' ? 'Perro' : 'Gato' }}
            @if (pet.breed) { · {{ pet.breed }} }
          </p>
        </div>

        <p-tag
          [value]="
            request.status === 'approved'
              ? 'Aprobada'
              : request.status === 'rejected'
              ? 'Rechazada'
              : request.status === 'cancelled'
              ? 'Cancelada'
              : 'Pendiente'
          "
          [severity]="
            request.status === 'approved'
              ? 'success'
              : request.status === 'rejected'
              ? 'danger'
              : request.status === 'cancelled'
              ? 'secondary'
              : 'warn'
          "
          class="shrink-0 text-xs"
        />
      </div>

      @if (request.message) {
      <p
        [pTooltip]="request.message"
        tooltipPosition="top"
        tooltipStyleClass="max-w-md"
        class="text-sm text-gray-600 dark:text-gray-300 line-clamp-2 italic flex-1"
      >
        "{{ request.message }}"
      </p>
      }

      <div class="flex items-center justify-end gap-3 pt-2 [&>button]:cursor-pointer">
        @if (request.status === 'pending') {
        <p-button
          label="Cancelar"
          severity="secondary"
          [outlined]="true"
          size="small"
          (onClick)="onCancel.emit()"
          styleClass="w-full text-sky-700! border-sky-600! hover:bg-sky-50 dark:text-sky-400! dark:border-sky-600! dark:hover:bg-sky-900/20"
        />
        }

        <p-button
          label="Ver mascota"
          size="small"
          (onClick)="viewPet()"
          styleClass="bg-pink-600! hover:bg-pink-700! border-pink-600! text-white!"
        />
      </div>
    </div>
  </div>
</article>
