<section
  class="pt-24 bg-linear-to-b from-pink-50/90 to-white dark:bg-slate-900 dark:bg-linear-to-b dark:from-pink-950/30 dark:to-slate-900"
>
  <div class="max-w-6xl mx-auto px-6 grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
    <div pAnimateOnScroll enterClass="animate-fadeinleft" class="order-2 lg:order-1">
      <h2 class="text-3xl lg:text-4xl font-bold text-gray-900 dark:text-white mb-6">
        Nuestra <span class="text-pink-600">historia</span>
      </h2>
      <p class="text-gray-600 dark:text-gray-300 mb-4 leading-relaxed">
        Rescue Connect nació de una necesidad simple: transformar el caos de las publicaciones en
        redes sociales en un proceso de adopción más organizado, transparente y seguro.
      </p>
      <p class="text-gray-600 dark:text-gray-300 leading-relaxed">
        Lo que comenzó como un prototipo para ayudar a refugios locales, se convirtió en una
        plataforma enfocada en facilitar adopciones responsables, priorizando el bienestar animal y
        la claridad en cada paso del proceso.
      </p>
    </div>
    <div class="order-1 lg:order-2 relative mx-auto">
      <img
        src="assets/images/about/about-hero.webp"
        alt="Primer plano de una persona abrazando cariñosamente a un gato atigrado gris de ojos azules brillantes"
        class="rounded-2xl shadow-2xl"
        width="800"
        height="534"
      />
      <div
        class="text-center absolute -bottom-6 -left-6 bg-pink-100 dark:bg-pink-600 p-6 py-5 rounded-2xl hidden md:block"
      >
        <p class="text-pink-600 font-bold text-3xl dark:text-white">+500</p>
        <p class="text-pink-800 dark:text-pink-100">Mascotas felices</p>
      </div>
    </div>
  </div>
</section>
