<section
  class="py-16 px-4 bg-linear-to-b from-white to-pink-50/90 dark:bg-slate-900 dark:bg-linear-to-b dark:from-slate-900 dark:to-pink-950/30"
>
  <div
    pAnimateOnScroll
    once="true"
    enterClass="animate-enter fade-in zoom-in-95 animate-duration-1000"
    class="max-w-4xl mx-auto bg-sky-600 dark:bg-sky-800 rounded-3xl p-8 md:p-16 text-center shadow-2xl relative overflow-hidden"
  >
    <figure
      class="absolute top-0 left-0 opacity-10 transform -rotate-12 translate-x-[-20%] translate-y-[-20%]"
    >
      <lucide-angular [img]="PawPrintIcon" size="160" class="text-white" />
    </figure>

    <div class="relative z-10">
      <h2 class="text-3xl md:text-4xl font-bold text-white mb-6">
        ¿Querés cambiar la vida de una mascota?
      </h2>
      <p class="text-sky-100 text-lg mb-10 max-w-lg mx-auto">
        Cientos de amigos de cuatro patas están esperando una oportunidad. Tu hogar podría ser el
        lugar que siempre soñaron.
      </p>

      <div class="flex justify-center">
        <p-button
          label="Ver mascotas disponibles"
          icon="custom__pet-icon"
          [routerLink]="['/pets']"
          size="large"
          styleClass="bg-white! text-sky-700! hover:bg-sky-100! border-0! font-bold! px-8!"
        />
      </div>
    </div>

    <figure
      class="absolute bottom-0 right-0 opacity-10 transform rotate-12 translate-x-[20%] translate-y-[20%]"
    >
      <lucide-angular [img]="PawPrintIcon" size="120" class="text-white" />
    </figure>
  </div>
</section>
