<div class="card p-3">
  <p-menubar [model]="items">
    <ng-template #start>
      <figure class="flex items-center justify-center w-10 h-10">
        <img src="/assets/images/logos/logo.png" alt="logo" class="w-full object-cover" />
      </figure>
    </ng-template>
    <ng-template #item let-item let-root="root">
      <a
        pRipple
        [routerLink]="item.routerLink"
        routerLinkActive="text-emphasis"
        class="flex items-center px-4 py-3 cursor-pointer gap-2"
      >
        <span>{{ item.label }}</span>
        @if (item.badge){
        <p-badge [ngClass]="{ 'ms-auto': !root }" [value]="item.badge" />
        } @if (item.shortcut){
        <span
          class="ms-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1"
          >{{ item.shortcut }}</span
        >
        } @if (item.items){
        <i [ngClass]="['ms-auto pi', root ? 'pi-angle-down' : 'pi-angle-right']"></i>
        }
      </a>
    </ng-template>
    <ng-template #end>
      <div class="flex items-center gap-2">
        <input
          id="search"
          name="search"
          type="text"
          pInputText
          placeholder="Buscar mascotas"
          class="w-40"
        />
        <p-button
          [text]="true"
          [rounded]="true"
          (onClick)="toggleTheme()"
          [icon]="themeService.darkMode() ? 'pi pi-sun' : 'pi pi-moon'"
          severity="secondary"
        />
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          shape="circle"
        />
      </div>
    </ng-template>
  </p-menubar>
</div>
