<div class="flex gap-2">
  @for (social of socialLinks; track social.icon) {
  <a
    [pTooltip]="social.label"
    tooltipPosition="bottom"
    tooltipStyleClass="max-w-md"
    [href]="social.url"
    target="_blank"
    rel="noopener noreferrer"
    [attr.aria-label]="social.label"
  >
    <p-button
      [icon]="social.icon"
      [text]="true"
      [rounded]="true"
      size="large"
      styleClass="text-black! hover:text-pink-600! dark:text-white! dark:hover:text-pink-600! transition-colors duration-300"
    />
  </a>
  }
</div>
