<section
  class="flex flex-col justify-end h-full hero-section bg-[url('/assets/images/hero/hero-banner.webp')] bg-cover bg-center bg-no-repeat min-h-screen"
>
  <div class="text-center">
    <h1 class="text-5xl font-bold mb-6 text-white">Encuentra a tu compañero perfecto</h1>
    <p class="text-xl mb-2 text-gray-300">Miles de mascotas esperan un hogar lleno de amor</p>
    <button
      pButton
      label="Ver mascotas disponibles"
      icon="pi pi-heart"
      class="p-button-lg p-button-rounded"
    >
      Ver mascotas disponibles
    </button>
    <!-- <button
      pButton
      label="Ver mascotas disponibles"
      icon="pi pi-heart"
      class="p-button-lg p-button-rounded"
      (click)="navigateToPets()"
      >
    </button> -->
  </div>
</section>
