<section
  class="pt-22 pb-16 bg-linear-to-b from-pink-50/90 to-white dark:bg-slate-900 dark:bg-linear-to-b dark:from-pink-950/30 dark:to-slate-900"
>
  <div class="max-w-6xl mx-auto px-4 grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
    <div
      pAnimateOnScroll
      once="true"
      enterClass="animate-enter fade-in-10 slide-in-from-l-12 animate-duration-1000 animate-delay-400"
      class="order-2 lg:order-1"
    >
      <h2 class="text-3xl lg:text-4xl font-bold text-gray-900 dark:text-white mb-4">
        Castrar <span class="text-pink-600">salva vidas</span>
      </h2>
      <ul class="space-y-4 text-gray-600 dark:text-gray-300 leading-relaxed">
        <li>
          Argentina se enfrenta a una sobrepoblación alarmante de animales de compañía, con más
          perros y gatos que hogares disponibles para adoptarlos.
        </li>
        <li>
          Esta situación tiene consecuencias dramáticas: millones de animales abandonados en las
          calles, expuestos al hambre, enfermedades, accidentes y siendo víctimas de actos de
          crueldad.
        </li>
        <li>
          En este contexto, surge la pregunta crucial: ¿por qué contribuir a la reproducción de más
          perros y gatos cuando ya existen miles sufriendo en las calles?
        </li>
      </ul>
    </div>
    <figure
      pAnimateOnScroll
      once="true"
      enterClass="animate-enter fade-in-10 slide-in-from-r-12 animate-duration-1000 animate-delay-400"
      class="order-1 lg:order-2 mx-auto max-w-md xl:max-w-none rounded-2xl shadow-2xl overflow-hidden"
    >
      <img
        src="assets/images/save-lives/save-lives-hero.webp"
        alt="Primer plano de un perro mestizo joven de color canela con hocico oscuro y collar rosa, mirando a la cámara sobre una superficie brillante"
        class="w-full h-full object-cover"
        width="800"
        height="660"
      />
    </figure>
  </div>
</section>
