<section
  class="py-16 bg-linear-to-b from-pink-50/90 to-white dark:bg-slate-900 dark:bg-linear-to-b dark:from-pink-950/30 dark:to-slate-900"
>
  <div class="max-w-4xl mx-auto px-4 text-center">
    <div
      pAnimateOnScroll
      once="true"
      enterClass="animate-enter fade-in-10 slide-in-from-t-12 animate-duration-1000"
      class="mb-4 relative inline-block shrink-0"
    >
      <figure
        class="w-32 h-32 border-4 border-pink-500 shadow-xl rounded-full overflow-hidden bg-gray-100 dark:bg-gray-800"
      >
        <img
          src="assets/images/about/founder.webp"
          alt="Retrato de Naomi Martínez, fundadora de Rescue Connect"
          class="w-full h-full object-cover"
          width="500"
          height="500"
          loading="lazy"
        />
      </figure>
    </div>
    <div
      pAnimateOnScroll
      once="true"
      enterClass="animate-enter fade-in-0 zoom-in-90 animate-duration-1000"
    >
      <h3 class="text-2xl md:text-3xl font-bold dark:text-white">Naomi Martínez</h3>
      <p class="text-pink-600 font-medium md:text-lg mb-6">Fundadora</p>
    </div>
    <blockquote
      pAnimateOnScroll
      once="true"
      enterClass="animate-enter fade-in-10 slide-in-from-b-12 animate-duration-1000"
      class="text-xl italic text-gray-600 dark:text-gray-400 space-y-4"
    >
      <p>
        "Desde muy pequeña supe que mi propósito estaba en ayudar a quienes no tienen voz. Rescataba
        perritos de la calle y los llevaba a mi casa, convenciendo a mi familia de darles una
        oportunidad. Esa conexión innata con los animales marcó el rumbo de mi vida.
      </p>
      <p>
        Hace algunos años, recorriendo refugios y calles de la ciudad, entendí que el amor no era
        suficiente: hacían falta herramientas, visibilidad y una red de apoyo. Así nació Rescue
        Connect, un puente digital entre almas que buscan un hogar y personas dispuestas a cambiar
        una vida.
      </p>
      <p>
        Hoy, lo que comenzó como un sueño personal se ha transformado en esta comunidad que crece
        día a día. Cada adopción, cada historia compartida, recuerda por qué empezó todo: convertir
        el abandono en segundas oportunidades para miles de animales."
      </p>
    </blockquote>
  </div>
</section>
