<section
  class="py-16 bg-linear-to-b from-pink-50/90 to-white dark:bg-slate-900 dark:bg-linear-to-b dark:from-pink-950/30 dark:to-slate-900"
>
  <div class="max-w-6xl mx-auto px-4 grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
    <figure
      pAnimateOnScroll
      once="true"
      enterClass="animate-enter fade-in-10 slide-in-from-r-12 animate-duration-1000 animate-delay-400"
      class="mx-auto max-w-md xl:max-w-none rounded-2xl shadow-2xl overflow-hidden"
    >
      <img
        src="assets/images/save-lives/cachorros.webp"
        alt="Dos cachorros pequeños de pelo largo, uno de color crema y otro con manchas marrones y blancas, sostenidos en brazos por una persona"
        class="w-full h-full object-cover"
        width="800"
        height="660"
      />
    </figure>
    <div
      pAnimateOnScroll
      once="true"
      enterClass="animate-enter fade-in-10 slide-in-from-l-12 animate-duration-1000 animate-delay-400"
      class="order-2 lg:order-1"
    >
      <h2 class="text-3xl lg:text-4xl font-bold text-gray-900 dark:text-white mb-6">
        Beneficios en la <span class="text-pink-600">castración</span> en machos y hembras
      </h2>
      <ul class="ml-4 space-y-4 list-disc text-gray-600 dark:text-gray-300 leading-relaxed">
        <li>
          <strong>Comportamientos positivos: </strong>
          reduce comportamientos no deseados como mordeduras, peleas, fugas, maullidos nocturnos,
          rociado de orina, problemas con los vecinos.
        </li>
        <li>
          <strong>Reduce el riesgo de enfermedades: </strong>
          en las hembras, la castración disminuye el riesgo de infecciones uterinas y mamarias, y en
          los machos, enfermedades del sistema reproductivo.
        </li>
        <li>
          <strong>Mayor longevidad: </strong>
          tus animales serán más fuertes, saludables, y podrán vivir más años.
        </li>
        <li>
          <strong>Menos estrés: </strong>
          los animales castrados tienden a experimentar menos estrés y ansiedad, ya que no sienten
          la presión de la necesidad de reproducirse.
        </li>
      </ul>
    </div>
  </div>
</section>
