@import 'tailwindcss';
@import 'tailwindcss-primeui';
@custom-variant dark (&:where(.dark-mode, .dark-mode *));
@import 'primeicons/primeicons.css';

:root {
  --p-primary-50: #fdf2f8;
  --p-primary-100: #fce7f3;
  --p-primary-200: #fbcfe8;
  --p-primary-300: #f9a8d4;
  --p-primary-400: #f472b6;
  --p-primary-500: #ec4899;
  --p-primary-600: #db2777;
  --p-primary-700: #be185d;
  --p-primary-800: #9d174d;
  --p-primary-900: #831843;
}
