@import 'tailwindcss';
@import 'tailwindcss-primeui';
@custom-variant dark (&:where(.dark-mode, .dark-mode *));
@import 'primeicons/primeicons.css';

:root {
  --p-primary-50: #fdf2f8;
  --p-primary-100: #fce7f3;
  --p-primary-200: #fbcfe8;
  --p-primary-300: #f9a8d4;
  --p-primary-400: #f472b6;
  --p-primary-500: #ec4899;
  --p-primary-600: #db2777;
  --p-primary-700: #be185d;
  --p-primary-800: #9d174d;
  --p-primary-900: #831843;
}

@layer base {
  :root {
    --p-custom-bg: #ffffff;
    --p-custom-text: #1e293b;
    --p-custom-border: #e2e8f0;
  }

  .dark-mode {
    --p-custom-bg: #090e1f;
    --p-custom-active-bg: #05091a;
    --p-custom-text: #f8fafc;
    --p-custom-border: rgba(255, 255, 255, 0.05);
  }
}

/* --- Pet filters start --- */

.pet-filters__content.overflow-y-auto {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

.pet-filters__content.overflow-y-auto::-webkit-scrollbar-track {
  background: transparent;
}

.pet-filters__content.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}

/* --- Pet filters end --- */
